
  .year {
  background-color: tomato;
  color: white;
  padding: 10px;}
  
  #hobbies {
    font-family: Copperplate, Papyrus, fantasy
  }

  .Journalism {
    color: rgb(1, 1, 13);             /* Changes the link color */
    text-decoration: none;   /* Removes the underline */
    font-weight: bold;       /* Makes the link bold */
    padding: 1px 10px;       /* Adds padding around the link */
    border-radius: 10px;      /* Rounds the corners */
    background-color: rgb(82, 157, 178); /* Adds a background color */
}

.Journalism:hover {
    color: rgb(245, 246, 239);            /* Changes the color on hover */
    background-color: rgb(8, 250, 45); /* Changes the background color on hover */
}

img:hover {
    opacity: 0.5;
  }
  div {
    height: 150px;
    width: 100%;
  }

.center{
    text-align: center;
}

.fixed{
    position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 100px;
  border: 3px solid #73AD21;
  background-color: aqua;
}